.nav-drag-area {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100vh;
  display: flex;
  transition: ease-in .255s;
  pointer-events: initial;
  z-index: var(--z-fixed);
}
.nav-drag-area.is-moving {
  transition: none !important;
}
.nav-drag-area:not(.is-moving) .nav {
  pointer-events: auto;
}
.nav-drag-area.open {
  transition: .255s ease-out;
  left: 0;
}
.nav {
  height: 100vh;
  padding: 0.75rem 0.75rem 2rem;
  background-color: var(--container-color);
  box-shadow: 0 0 8px #00000040;
  overflow: auto;
}

.nav-dropdown {
  display: grid;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 6px;
  border-radius: 16px;
  height: 24px;
  margin: 3px 0;
}
.nav-link:hover {
  color: var(--first-color);
}
.nav-link.active {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
  margin-right: .35rem;
  margin-left: 0.2rem;
}

.nav-name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
  user-select: none;
}

/* Dropdown */
.nav-dropdown {
  overflow: hidden;
  max-height: 42px;
  transition: .1s ease-out;
}
.nav-dropdown.open {
  max-height: 100rem;
  transition: 0.6s ease-in-out !important;
}

.nav-dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: 16px;
}

.nav-dropdown-content {
  margin-top: 5px;
}

.nav-dropdown-collapse .nav-link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.nav-dropdown-icon {
  margin-left: auto;
  transition: .4s;
}
.nav-dropdown.open .nav-dropdown-icon {
  transform: rotate(180deg);
}