#suggestions {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  position: absolute;
  border-radius: 10px;
  padding: 4px 3px;
  width: auto;
  z-index: var(--layer-fg);
  background-color: var(--overlay);
  box-shadow: 0 2px 5px #0004;
  gap: 1px;
}

.suggestion-item {
  border-radius: 9px;
  padding: 4px 8px;
  transition: 0.1s ease;
  
  &.active, &:hover {
    background-color: var(--active);
  }
}