#editor {
  display: block;
  position: absolute;
  z-index: var(--layer-editor);
  margin: 0;
  background-color: transparent;
  overflow: auto;
  color: transparent;
  resize: none;
}

.wrap-text {
  text-wrap: wrap !important;
}

.font-sans {
  font-family: 'custom_sans_serif', sans-serif;
}
.font-sans-serif {
  font-family: 'custom_sans', sans, serif;
}
.font-mono {
  font-family: 'custom_mono', monospace;
}