#editor {
  z-index: var(--layer-editor);
  background-color: transparent;
  color: transparent;
  resize: none;
}

/*debug*/
/*#editor {*/
/*  color: magenta;*/
/*}*/
/*#highlights {*/
/*  color: aqua;*/
/*}*/
/*---*/

.wrap-text {
  text-wrap: wrap !important;
}

.font-sans {
  font-family: 'custom_sans_serif', sans-serif;
}
.font-sans-serif {
  font-family: 'custom_sans', sans, serif;
}
.font-mono {
  font-family: 'custom_mono', monospace;
}