@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('./Poppins-Regular.woff2') format('woff2'),
  url('./Poppins-Regular.woff') format('woff'),
  url('./Poppins-Regular.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('./Poppins-Medium.woff2') format('woff2'),
  url('./Poppins-Medium.woff') format('woff'),
  url('./Poppins-Medium.ttf') format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('./Poppins-SemiBold.woff2') format('woff2'),
  url('./Poppins-SemiBold.woff') format('woff'),
  url('./Poppins-SemiBold.ttf') format("truetype");
  font-display: swap;
} 