@import '@unocss/reset/tailwind.css' layer(base);
@import "base.pcss" layer(base);
@import "themes.pcss" layer(base);
@import "components.pcss" layer(components);
@import "editor.pcss";
@import "sidebar.pcss";
@import "stats.pcss";
@import "cmdBar.pcss";
@import "caret.pcss";
@import "highlight.pcss";
@import "suggestions.pcss";