#editor {
  box-sizing: border-box;
  height: calc(100vh - 60px);
  display: block;
  width: 80ch;
  position: fixed;
  padding: 0 20vw 0 15px;
  resize: none;
  background: transparent;
  overflow: auto;
  transition: padding 200ms;
}

.font-sans {
  font-family: sans-serif;
}

.font-sans-serif {
  font-family: sans, serif;
}

.font-mono {
  font-family: monospace;
}