#editor {
  box-sizing: border-box;
  padding: 30px 15px 0;
  height: calc(100vh - 60px);
  display: block;
  width: 80ch;
  position: fixed;
  left: 25vw;
  resize: none;
  background: transparent;
  overflow: auto;
  max-width: 90%;
  transition: left 200ms;
  margin-left: -15px;
}

.font-sans {
  font-family: sans-serif;
}

.font-sans-serif {
  font-family: sans, serif;
}

.font-mono {
  font-family: monospace;
}